@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

$black: hsl(0, 0%, 30%);

//Global Styles
body {
    margin: 0;
    background-color: hsl(0, 0%, 90%);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $black;
    line-height: 1.35;
}
h2 {
    font-weight: 400;
    color: darken($black, 15);
    padding-top: 2vw;
    margin-top: 0;
    border-top: 1px solid lighten($black, 50);
}

ul {
    padding: 2vw 4vw;
    margin: 0;
    list-style: none;
}
p {
    margin-top: 0;
}
figure {
    margin: 0;

}
figcaption {
    text-transform: uppercase;
    font-size: 60%;
    padding: 2vw 8vw;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: lighten($black, 40);
}
a {
    color: inherit;
    text-decoration: none;
}
.btn {
    padding: 16px 32px;
    text-transform: uppercase;
    border: 1px solid $black;
    border-radius: 2px;
    margin-top: 2vw;
    font-size: 80%;
    font-weight: 400;
    color: darken($black, 15);
    transition: all 200ms;
    &:hover {
        background-color: hsl(300, 0%, 95%);
    }
}
// SkillSets
#skillsets {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    li {
        opacity: 0;
        width: 48%;
        background-color: hsl(0, 0%, 98%);
        position: relative;
        bottom: -50px;
        // transition: all 500ms;
        // transition-delay: 2s;
        animation-name: skills;
        animation-duration: 1s;
        animation-delay: 5s;
        animation-fill-mode: forwards;

        // animation: skills 1s forwards 5s;   //shorthand
    }
    // li:first-child {
    //     left: -50px;
    //     opacity: 0;

    // }
    // li:last-child {
    //    right: -50px;
    //    opacity: 0;
    // }
 
    //  &:hover li:first-child {
    //      left: 0;
    //      opacity: 1;
    //  }    

    //  &:hover li:last-child{
    //      right:0;
    //      opacity: 1;
    //  }

    figcaption {

        text-align: center;
    }
    img {
        width: 100%;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8vw 4vw;    
    }
    //Content appearing from bottom
    div * {
        position: relative;
        bottom: -50px;
        opacity: 0;
    }
    div {
        h2 {
            animation: skills 500ms forwards 6s;
        }
        p {
            animation: skills 500ms forwards 6.25s;
        }
        a {
            animation: skills 500ms forwards 6.5s;
        }
    }

    h2 {
    //    text-align: center;
    }
    p {
        width: 100%;
        text-align: left;
    }
    a {
        
        
    }
    
}

@keyframes skills {
    from {
        opacity: 0;
        bottom: -50px 

    }
    to {
        opacity: 1;
        bottom: 0px;

    }
}

//loading icon
i {
    display: block;
    font-size: 32px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    // transform: translate(-50%) rotate(360deg);
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    from {
        transform: translatex(-50%) rotate(0deg);  
    }
    to{
        transform: translateX(-50%) rotate(360deg);
    }
}