$black: hsla(0, 0%, 19%, 1);

body {
    margin: 0;
}
button {
    border: 1px solid darken($black, 10);
    border-radius: 4px;
    padding: 10px;
    font-size: inherit;
    &:hover {
        background-color: lighten($black, 65);
        cursor: pointer;
    }
} 
h1 {
    color: black;
    // background-image: url('/img/fireworks.gif');
    padding: 25px;
    background-size: cover;
    background-position: center;
}
body{
    color: white;
    transition: background-color 500ms;
}
body.colorize {
    background-color: red;
}




nav {
    padding: 10px;
    background-color: $black;
    display: flex;
    justify-content: flex-end;
}