html {
    background-color: peachpuff;
}

p {
    color: blue;
}

span {
    color: purple;
}

div {
    color: red;
}

div span {
    color: orange;
}

.banana {
    color: yellowgreen;
}

.spoiled {
    color: brown;
}

#apple {
    color: red;
}