@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Russo+One");
body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-family: 'Russo One', sans-serif;
}

ul {
  list-style: none;
}

nav#horizontal ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(8, 2, 2, 0.7);
  margin: 0;
  padding: 25px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav#horizontal ul a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 250ms;
}

nav#horizontal ul a:hover {
  background-color: rgba(8, 2, 2, 0.5);
}

nav#horizontal ul a.active {
  background-color: rgba(8, 2, 2, 0.5);
  color: yellow;
}

nav#horizontal ul .navright {
  display: flex;
}

nav#horizontal ul .navright li {
  margin-right: 30px;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url(https://unsplash.it/1850);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 400px;
}

header h2 {
  margin-top: 150px;
}

header p {
  text-align: center;
}

#home {
  background-color: red;
}

#home div {
  display: flex;
  justify-content: center;
}

#home h2 {
  text-shadow: 4px 4px 5px rgba(8, 2, 2, 0.5), 0 0 25px rgba(8, 2, 2, 0.7), 0 0 5px white;
}

#home p {
  text-align: center;
  text-justify: left;
}

#home a {
  text-decoration: none;
  color: blue;
}

#home a.about:hover {
  color: yellow;
}

#about {
  background-color: grey;
}

#about img {
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px;
  width: 250px;
  margin-right: 20px;
}

#about div.profile {
  box-shadow: 2px 2px red;
}

#about div.bio {
  margin-top: 100px;
}

#about div.bio h2 {
  display: flex;
  justify-content: center;
}

#about div.bio p {
  padding: 20px;
  padding-right: 60px;
  text-align: left;
}

#about div.bio a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: blue;
}

#about div.bio a:hover {
  color: red;
}

#gallery {
  background-color: white;
}

#gallery h2 {
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-top: 85px;
}

#gallery h3 {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

#gallery div.thumbnails ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery div.thumbnails ul li {
  margin-left: -1px;
  padding: 5px;
  bottom: 1;
}

#gallery img {
  border: 2px solid #787878;
  border-radius: 5px;
  padding: 5px;
  height: 250px;
  width: 250px;
}

#gallery img:hover {
  box-shadow: 0 0 3px 2px red;
}

#gallery i {
  margin-top: 6px;
  padding-left: 10px;
  font-size: 25px;
}

#gallery figure {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  bottom: -1px;
}

#gallery figcaption {
  position: absolute;
  text-align: center;
  background: rgba(8, 2, 2, 0.8);
  color: white;
  opacity: 0;
  bottom: 13.5px;
  left: 7px;
  width: 250px;
  transition: all 200ms ease;
}

#gallery figure:hover {
  border-radius: 5px;
  box-shadow: 0 0 3px 2px red;
}

#gallery figure:hover figcaption {
  opacity: 1;
}

#contact {
  background-color: #a98219;
}

#contact div.contact {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact i {
  font-size: 40px;
  padding: 20px;
}

#contact footer ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#contact footer ul li {
  padding: 10px;
}

#contact footer ul i {
  font-size: 50px;
  padding: 20px;
}

#contact a.twitter {
  color: #15aabf;
}

#contact a.twitter i {
  background-color: white;
  background-clip: content-box;
}

#contact a.facebook {
  color: #1f52c0;
}

#contact a.instagram {
  color: white;
}

@keyframes fly {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1) translate(500px);
  }
  50% {
    transform: scale(1) translate(1000px);
  }
  75% {
    transform: scale(1) translate(1500px);
  }
  100% {
    transform: scale(1);
  }
}

#plane {
  display: inline-block;
  animation: fly 3s 1s ease;
}
/*# sourceMappingURL=style.css.map */