
// #home {
//     background-color: gray;
// }
// #about {
//    background-color: blue;  
//     img {
//         display: flex;
//         justify-content: center;
//         border: 3px solid black;
//         border-radius: 2px;
//         padding: 3px;
//         width: 200px;            
// }
// #gallery {
//     background-color: peachpuff;
//     img {
//         border: 1px solid gray;
//         border-radius: 5px;
//         padding: 5px;
//         width: 250px;
        
//     }
//     figure {
//         margin: 0;
//         padding: 0;
//         position: relative;
//         overflow: hidden;
//     }
//     figcaption  {
//         position: absolute;
//         border-radius: 5px;
//         background: hsla(0, 56%, 2%, .4);
//         color: white;
//         margin: 10px 15.5px;
//         padding: 10px 52px;
//         opacity: 0;
//         bottom: 0;
//         transition: all 200ms ease;
        
//     }
//     figure:hover figcaption {
//         opacity: 1;

        

//     }
    
// }


// #contact {
//     background-color: goldenrod;
//     p {
//         display: flex;
//         justify-content: center;
//     }
// }
// body {
//     margin: 0;
//     padding: 0;
// }

// h1 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     padding: 25px;

// }
// nav#horizontal ul {
//     display: flex;
//     justify-content: space-between;
//     list-style: none;
//     background-color: hsla(0, 56%, 2%, .6);
//     margin: 0;
//     padding: 15px; 
//     .navright {
//         display: flex;
//         li { 
//            margin-right: 10px;
//         }

    
//        }
// }
// h3{
    
//     display: flex;
//     justify-content: center;

// }
// p {
//     text-align: left;
// }

// a {
//     padding: 10px;
//     text-decoration: none;
//     color:white;
//     font-size: 15px;
//     transition: all 300ms;
//     font-size: 100%;
//     border-radius: 5px;
    

// }
// a:hover {
//     background-color: hsla(0, 56%, 2%, .7);
//     border-radius: 5px;
// }
// a.active {
//     background-color: hsla(0, 56%, 2%, .7);
//     border-radius: 5px;
// }
// }
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
h2 {
    font-family: 'Russo One', sans-serif;
}
ul {
    list-style: none;
}
nav#horizontal ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: hsla(0, 56%, 2%, .7);
    margin: 0;
    padding: 15px; 
    a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        transition: all 250ms;
    }
    a:hover {
        background-color: hsla(0, 56%,2%, .5);

    }
    a.active {
        background-color: hsla(0, 56%, 2%, .5);
    }
    .navright {
        display: flex;
        li { 
           margin-right: 10px;
        }
    }        
}
header {
    display: block;
    background-image: url(https://unsplash.it/550);
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    

}
#home {
    background-color: red;
    div {
        display: flex;
        justify-content: center;        
    }
    p {
        text-align: center;
        text-justify: left;
    }
    a {
        text-decoration: none;
        color: blue;
    }
    a.about:hover {
        color: yellow;
    }
}
#about {
    background-color: grey;
    img {
        float: left;
        margin-left: 20px;
        margin-top: 50px;
        border: 2px solid black;
        border-radius: 4px;
        padding: 3px;
        width: 200px;
    }
    div.bio {
        margin-top: 100px;
        h2 {
            display: flex;
            justify-content: center;
        }
        p {
           padding: 20px;
           padding-right: 60px;
           text-align: left;
        }
        a {
            font-family: inherit;
            font-size: inherit;
            text-decoration: none;
            color: blue;
        }
        a:hover {
            color:red;
        }
         
    }
}
#gallery {
    background-color: blue;
    h2 {
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin-left: -1px;
            padding: 5px;
        }
    }
    img {
        border: 3px solid black;
        border-radius: 5px;
        padding: 5px;
        width: 250px;        
    }
    i {
        padding-left: 10px;
        font-size: 30
    }
}  
#contact {
    background-color: green;
    div.contact {
        margin-top: 150px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer ul {
        li {
            padding: 10px;
        }
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    i {
        font-size: 50px;
        padding: 20px;
    }
    a.twitter{
        color: #15aabf;
    }
    a.facebook {
        color: rgb(31, 82, 192);
    }
    a.instagram {
        color: white;
    }
}



//plane icon
@keyframes fly {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1) translate(500px);
    }
    50% {
        transform: scale(1) translate(1000px);
    }
    75% {
        transform: scale(1) translate(1500px);
    }
}
#plane {
    display: inline-block;

    animation-name: fly;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}