
// #home {
//     background-color: gray;
// }
// #about {
//    background-color: blue;  
//     img {
//         display: flex;
//         justify-content: center;
//         border: 3px solid black;
//         border-radius: 2px;
//         padding: 3px;
//         width: 200px;            
// }
// #gallery {
//     background-color: peachpuff;
//     img {
//         border: 1px solid gray;
//         border-radius: 5px;
//         padding: 5px;
//         width: 250px;
        
//     }
    // figure {
    //     display: inline-block;
    //     margin: 0;
    //     padding: 0;
    //     position: relative;
    //     overflow: hidden;
    //     bottom: -1px;
    // }
    // figcaption  {
    //     position: absolute;
    //     text-align: center;
    //     // border-radius: 5px;
    //     background: hsla(0, 56%, 2%, .8);
    //     color: white;
    //     // margin: 10px 15.5px;
    //     // padding: 10px 52;
    //     opacity: 0;
    //     bottom: 13.5px;
    //     left: 7px;
    //     width: 250px;

        
    //     transition: all 200ms ease;
        
    // }
    // figure:hover {
    //     border-radius: 5px;
    //     box-shadow: 0 0 3px 2px red;
    // }
    // figure:hover figcaption {
    //     opacity: 1;
    // }

        

//     }
    
// }


// #contact {
//     background-color: goldenrod;
//     p {
//         display: flex;
//         justify-content: center;
//     }
// }
// body {
//     margin: 0;
//     padding: 0;
// }

// h1 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     padding: 25px;

// }
// nav#horizontal ul {
//     display: flex;
//     justify-content: space-between;
//     list-style: none;
//     background-color: hsla(0, 56%, 2%, .6);
//     margin: 0;
//     padding: 15px; 
//     .navright {
//         display: flex;
//         li { 
//            margin-right: 10px;
//         }

    
//        }
// }
// h3{
    
//     display: flex;
//     justify-content: center;

// }
// p {
//     text-align: left;
// }

// a {
//     padding: 10px;
//     text-decoration: none;
//     color:white;
//     font-size: 15px;
//     transition: all 300ms;
//     font-size: 100%;
//     border-radius: 5px;
    

// }
// a:hover {
//     background-color: hsla(0, 56%, 2%, .7);
//     border-radius: 5px;
// }
// a.active {
//     background-color: hsla(0, 56%, 2%, .7);
//     border-radius: 5px;
// }
// }

// FONTS AND ICONS 
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900');
@import url('https://fontsde.googleapis.com/css?family=Russo+One');

// GLOBAL STYLES
body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
h2 {
    font-family: 'Russo One', sans-serif;
}
ul {
    list-style: none;
}
nav#horizontal ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: hsla(0, 56%, 2%, .7);
    margin: 0;
    padding: 25px; 
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        transition: all 250ms;
    }
    a:hover {
        background-color: hsla(0, 56%,2%, .5);

    }
    a.active {
        background-color: hsla(0, 56%, 2%, .5);
        color: yellow;
    }
    .navright {
        display: flex;
        li { 
           margin-right: 30px;
        }
    }        
}
header {
    display: flex;
    flex-direction: column;
    background-image: url(https://unsplash.it/1850);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 400px;
    h2 {
        margin-top: 150px;
    }
    p {
        text-align: center;
    }

}

//STYLES TO PAGES INDIVIDUALLY
#home {
    background-color: red;
    div {
        display: flex;
        justify-content: center;        
    }
    h2 {
        text-shadow: 4px 4px 5px hsla(0, 56%, 2%, .5), 0 0 25px hsla(0, 56%, 2%, .7), 0 0 5px white ;
    }
    p {
        text-align: center;
        text-justify: left;
    }
    a {
        text-decoration: none;
        color: blue;
    }
    a.about:hover {
        color: yellow;
    }
    // header {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
}
#about {
    background-color: grey;   
    img {
        float: left;
        margin-left: 20px;
        margin-top: 50px;
        border: 2px solid black;
        border-radius: 4px;
        padding: 3px;
        width: 250px;
        margin-right: 20px;
    }

    img.portrait{
        transform: rotate(90deg);
        width: 250px;
        height: 250px;
    }

    div.bio {
        margin-top: 100px;
        h2 {
            display: flex;
            justify-content: center;
        }
        p {
           text-indent: 20px;
           padding: 20px;
           padding-right: 60px;
           text-align: left;
        }
        a {
            font-family: inherit;
            font-size: inherit;
            text-decoration: none;
            color: blue;
        }
        a:hover {
            color:red;
        }
         
    }
}
#gallery {
    background-color: rgba(1, 17, 247, 0.829);
    h2 {
        display: flex;
        justify-content: center;
        font-size: 28px;
        margin-top: 85px;
    }
    h3 {
        display: flex;
        justify-content: center;
        font-size: 25px;
    }
    div.thumbnails{
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
                li {
                margin-left: -1px;
                padding: 5px;
                bottom: 1;
                }
            
        }
    }
    img {
        border: 2px solid hsl(0, 0%, 47%);
        border-radius: 5px;
        padding: 5px;
        height: 250px;
        width: 250px;  
           
    }
    img:hover {
        // box-shadow: 0 0 3px 2px red;
        z-index: 99;
        
    }
    i {
        margin-top: 6px;
        padding-left: 10px;
        font-size: 25px;
        
    }
    figure {
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        bottom: -1px;
    }
    figcaption  {
        position: absolute;
        text-align: center;
        // border-radius: 5px;
        background: hsla(0, 56%, 2%, .8);
        color: white;
        // margin: 10px 15.5px;
        // padding: 10px 52;
        opacity: 0;
        bottom: 13.5px;
        left: 7px;
        width: 250px;

        
        transition: all 200ms ease;
        
    }
    figure:hover {
        border-radius: 5px;
        // box-shadow: 0 0 3px 2px red;
    }
    figure:hover figcaption {
        opacity: 1;
    }

    
}  
#contact {
    background-color: hsla(133, 78%, 33%, 0.781);

    div.contact {
        margin-top: 150px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    i {
        font-size: 40px;
        padding: 20px;
    }
    footer ul {
        li {
            padding: 30px;

        }
        
        display: flex;
        justify-content: center;
        align-items: flex-end;
        i {
            font-size: 35px;
            padding: 20px;
        }
    }
    a.twitter{
        // color: #15aabf;
        color: white;
        i {
            background-color: inherit;
            display: inline-block;
            border-radius: 60px;
            box-shadow: 0px 0px 2px white;
            // background-color: white;
            // background-clip: content-box;
            
        }
        i:hover{
            // background-color: hsla(133, 78%, 33%, 0.6);
            background-color: white;;
            transition: all 250ms ease;
        }
    }
    a.twitter:hover{
        color:  hsla(133, 78%, 33%, 0.781);
        transition: all 50ms ease;
    }
    a.facebook {
        color: white;
        // color: rgb(31, 82, 192);
        i{
            display: inline-block;
            border-radius: 60px;
            text-align: center;
            width: 35px;
            box-shadow: 0px 0px 2px white;
            background-color: inherit;
        }
        i:hover{
            // background-color:  hsla(133, 78%, 33%, 0.6);
            background-color: white;
            transition: all 250ms ease;
        }


    }
    a.facebook:hover{
        color:  hsla(133, 78%, 33%, 0.781);
        transition: all 50ms ease;
    }
    a.instagram {
        color: white;
        i{
            display: inline-block;
            border-radius: 60px;
            box-shadow: 0px 0px 2px white;
            background-color: inherit;
        }
        i:hover{
            background-color: white;
            transition: all 250ms ease;
            
            // background-color:  hsla(133, 78%, 33%, 0.6);
        }
    }
    a.instagram:hover{
        color:  hsla(133, 78%, 33%, 0.781);
        transition: all 50ms ease;
    }
}


//animations
//plane icon

/*

@keyframes fly {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1) translate(500px);
    }
    50% {
        transform: scale(1) translate(1000px);
    }
    75% {
        transform: scale(1) translate(1500px);
    }
    100% {
        transform: scale(1);
    }
}
#plane {
    display: inline-block;
    animation: fly 3s 1s ease ;
    // animation-name: fly;
    // animation-duration: 7s;
    // animation-fill-mode: forwards;
    // animation-timing-function: ease-in;
}

*/